<!DOCTYPE html>
<html>
  <head>
    <title>How many players</title>
    <!--link rel=”stylesheet” type=”text/css” href=”/index.css”/-->
    <link rel=stylesheet type=text/css href=/main.css/>
  </head>
<body>
<h1>Let's play Rock Paper Scissors!</h1>
<h2>First we need to know if you want to play against computer or each other...<br>
How many players?</h2>
<form action="/play-one" method="get">
  <input type="submit" value="Only One Player"> <br>
  </form>
  <form action="/play-two" method="get">
  <input type="submit" value="There Is Two Of Us"> 
</form>
</body>
</html>